* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: rgb(12, 11, 11);
}

.class__list_ul {
  width: 500px;
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.classlist {
  width: 310px;
  background-color: green;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin-right: 20px;
}

.card__title {
  font-size: 20px;
  font-weight: bold;
}
.card__description {
  padding-left: 10px;
}
.form__input-text {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  border: 2px solid chartreuse;
}

.hidden {
  visibility: hidden;
}

.class__card {
  background-color: chartreuse;
  width: 500px;
  height: 300px;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
}

.link__volver {
  background-color: black;
  padding: 5px;
}
